body { background-color:#000; }

.bar {
  background-color: green;
  float: left;
  width: 20px;
}

div.canvas { width:1000px; height:600px; margin:0 auto; background:url(bg.jpg) no-repeat 50% 0; }

.scoreboard{
  background-color: gray;
  width: 100 px;
  height: 66 px;
  position: absolute;
  top:0;
  right: -100px;
}

.topbox {
  position:relative;
  width:1000px;
  margin:0 auto;
}